<nav id="mainnav-container">
    <div id="mainnav">
        <div id="mainnav-menu-wrap">
            <div class="nano">
                <div class="nano-content">

                    <div id="mainnav-profile" class="mainnav-profile">
                        <div class="profile-wrap">
                            <img class="img-circle img-border" src="{{ var_user_avatar }}"
                                 alt="Profile Picture">
                            <a class="box-block" data-toggle="collapse" aria-expanded="false">
                                <p class="mnp-name">{{ var_user_fullname }}</p>
                                <span class="mnp-desc">{{ var_user_email }}</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>
