{% set params = [] %}
{% for k, v in options.vars.route.parameters|default([]) %}
    {% set params = params|merge({(k) : attribute(data, v)}) %}
{% endfor %}

<a href="{{ path(options.vars.route.name, params) }}">{{ attribute(data, options.vars.label)|nl2br }}</a>
